.e867_1054 {
    background-color: rgba(255, 255, 255, 1);
    width: 1440px;
    height: 1024px;
    position: absolute;
}

.e867_1055 {
    width: 508px;
    height: 55px;
    position: absolute;
    left: 505px;
    top: 42px;
}

.e867_1056 {
    color: rgba(0, 0, 0, 1);
    width: 72px;
    height: 36px;
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: Poppins;
    text-align: left;
    font-size: 24px;
    letter-spacing: 0;
}

.e867_1057 {
    color: rgba(0, 0, 0, 1);
    width: 73px;
    height: 36px;
    position: absolute;
    left: 119px;
    top: 0px;
    font-family: Poppins;
    text-align: left;
    font-size: 24px;
    letter-spacing: 0;
}

.e867_1058 {
    color: rgba(0, 0, 0, 1);
    width: 88px;
    height: 36px;
    position: absolute;
    left: 239px;
    top: 0px;
    font-family: Poppins;
    text-align: left;
    font-size: 24px;
    letter-spacing: 0;
}

.e867_1059 {
    color: rgba(0, 0, 0, 1);
    width: 134px;
    height: 36px;
    position: absolute;
    left: 374px;
    top: 0px;
    font-family: Poppins;
    text-align: left;
    font-size: 24px;
    letter-spacing: 0;
}

.e867_1060 {
    border-radius: 500px;
    background-color: rgba(45.00000111758709, 156.00000590085983, 219.0000021457672, 1);
    width: 15px;
    height: 15px;
    position: absolute;
    left: 24px;
    top: 40px;
}

.e867_1061 {
    width: 328px;
    height: 78.60344696044922px;
    position: absolute;
    left: 56px;
    top: 29px;
}

.e867_1062 {
    color: rgba(0, 0, 0, 1);
    width: 235px;
    height: 54px;
    position: absolute;
    left: 93px;
    top: 12px;
    font-family: Poppins;
    text-align: left;
    font-size: 36px;
    letter-spacing: 0;
}

.e867_1063 {
    width: 97px;
    height: 78.60344696044922px;
    position: absolute;
    left: 0px;
    top: 0px;
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e867_1064 {
    background-color: rgba(45.00000111758709, 156.00000590085983, 219.0000021457672, 1);
    width: 299px;
    height: 56px;
    position: absolute;
    left: 141px;
    top: 604px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.e867_1065 {
    color: rgba(255, 255, 255, 1);
    width: 188px;
    height: 36px;
    position: absolute;
    left: 55.5px;
    top: 10px;
    font-family: Poppins;
    text-align: left;
    font-size: 24px;
    letter-spacing: 0;
}

.e867_1066 {
    width: 294px;
    height: 59px;
    position: absolute;
    left: 140px;
    top: 694px;
}

.e867_1067 {
    width: 69px;
    height: 59px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e867_1068 {
    width: 64.57182312011719px;
    height: 55.04698944091797px;
    position: absolute;
    left: 4.298283100128174px;
    top: 3.8571314811706543px;
}

.e867_1069 {
    background-color: rgba(0, 0, 0, 1);
    width: 64.57182312011719px;
    height: 55.04698944091797px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e867_1070 {
    background-color: rgba(0, 0, 0, 1);
    width: 16.07293701171875px;
    height: 18.474376678466797px;
    position: absolute;
    left: 32.2310791015625px;
    top: 10.855999946594238px;
}

.e867_1071 {
    color: rgba(0, 0, 0, 1);
    width: 201px;
    height: 36px;
    position: absolute;
    left: 93px;
    top: 12px;
    font-family: Poppins;
    text-align: left;
    font-size: 24px;
    letter-spacing: 0;
}

.e867_1072 {
    width: 581px;
    height: 245px;
    position: absolute;
    left: 139px;
    top: 319px;
}

.e867_1073 {
    color: rgba(0, 0, 0, 1);
    width: 580px;
    height: 48px;
    position: absolute;
    left: 1px;
    top: 0px;
    font-family: Poppins;
    text-align: left;
    font-size: 32px;
    letter-spacing: 0;
}

.e867_1074 {
    color: rgba(0, 0, 0, 1);
    width: 185px;
    height: 42px;
    position: absolute;
    left: 2px;
    top: 91px;
    font-family: Poppins;
    text-align: left;
    font-size: 28px;
    letter-spacing: 0;
}

.e867_1075 {
    color: rgba(0, 0, 0, 1);
    width: 569px;
    height: 72px;
    position: absolute;
    left: 0px;
    top: 173px;
    font-family: Poppins;
    text-align: left;
    font-size: 24px;
    letter-spacing: 0;
}

.e867_1076 {
    transform: rotate(0.3410674253501727deg);
    width: 676.2074584960938px;
    height: 779px;
    position: absolute;
    left: 761.63720703125px;
    top: 240px;
    background-image: url(images/illust.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e1650_36 {
    color: rgba(0, 0, 0, 1);
    width: 105px;
    height: 36px;
    position: absolute;
    left: 1061px;
    top: 42px;
    font-family: Poppins;
    text-align: left;
    font-size: 24px;
    letter-spacing: 0;
}

.e1650_37 {
    color: rgba(0, 0, 0, 1);
    width: 213px;
    height: 36px;
    position: absolute;
    left: 1202px;
    top: 42px;
    font-family: Poppins;
    text-align: left;
    font-size: 24px;
    letter-spacing: 0;
}